.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  margin-bottom: 0 !important;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  cursor: pointer;
  padding: 20px;
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  -webkit-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  transition: all 0.3s ease;
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 15px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li.timeline-inverted > .timeline-panel:hover {
  -moz-transform: translateX(10px);
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
  -webkit-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  transition: all 0.3s ease;
  color: #13bfe8
}

.timeline > li > .timeline-panel:hover {
  -moz-transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
  -webkit-transition: all 0.3s ease; 
  -o-transition: all 0.3s ease; 
  -moz-transition: all 0.3s ease; 
  transition: all 0.3s ease;
  color: #13bfe8
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 15px;
  left: -14px;
  right: auto;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}
